<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314645370562-6pcactlji6on80elmgkqem729793nqcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314645370562-6pcactlji6on80elmgkqem729793nqcd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314645370562-mv8jsl0k414lh44o2c40jeeb82291kbp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8BjG3mNJ9Ft-3mCImDZlX7hksQqYObbw</string>
	<key>GCM_SENDER_ID</key>
	<string>314645370562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beerendra.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-2475b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-2475b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314645370562:ios:2c021dcb724abc57be0d5b</string>
</dict>
</plist>